<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecormerce Project</title>
    <link rel="stylesheet" href="../../Public/assets/style.css">
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
</head>
<body class="bg-pretoPaleta-Primary">

    <div class="max-w-screen-xl w-full mx-auto text-white">
        <h2 class="text-4xl font-bold py-5">Vitrine</h2>
        <div id="produtos" class="grid grid-cols-3 gap-3">

        </div>
    </div> <!--produtos-->

    <div class="max-w-screen-xl w-full mx-auto text-white min-h-[500px]">
        <h2 class="text-4xl font-bold py-5">Carrinho</h2>
        <div id="carrinho" class="">

        </div>
    </div> <!--carrinho-->


    <script src="../../Public/assets/js/main.js"></script>
</body>
</html>